import test::internal
import bundle1

**
Sample code `something`:

```
func add(a: Int, b: Int) -> Int {
    return a + b
}
```
**
struct A {
    q: Int
    b: B
    ** Internal field **
    aa: Internal
    ** Bundle1 field **
    b1: Bundle1
}

func add(a: Int, b: Int) -> Int {
    return a + b
}

after func add(a: Int, b: Int) -> Int {
    return result + 1
}

** Function `a` does a __thing__ _thjing_ thing **
func a(a: A, b: B) {
    let r: Int

    let added = add(
        456 + 123,
        2 * 2,
    )

    {
        r = 1
        r = added
    }

    let q = r
    let p = q

    let z = "aaa"
    let y = z

    let bool = true

    let if_var: Int
    if true {
        if_var = 1
    } else if false && true {
        if_var = 5
    } else {
        if_var = 3
    }
    //if_var = 2

    let if_var_2 = if_var

    let list = new [Int] {
        1
        2
        3
        4; 5; 6
    }

    let map = new {Int => String} {
        1 => "hello"
        2 => "goodbye"
        3 => "world"; 4 => "something"
    }

    let sum2: Func[pure] ([Int]) -> Int
    sum2 = sum

    list.sum()
    sum2(list)
}

before func a(a: A, b: B) {
    let q = a
    let r = q
}

func[pure] sum(this: [Int]) -> Int {
    let something = 0
    for i in this {
        something = something + i
    }
    something.debug()
    return something
}

/*
How should trait func hooks work?
The 'This' type is illegal here normally.

after func debug(this: This) -> String {

}
*/

** Abcdef **
struct B {
    a: A
    c: C
}

trait Debug {
    func[pure] debug(this: This) -> String
}

impl Debug for Int {
    func[pure] debug(this: This) -> String {
        return int_to_string(this)
    }
}

impl Debug for [Int] {
    func[pure] debug(this: This) -> String {
        for i in this {
            i.debug()
        }
    }
}
