import test::internal
import bundle1

struct A {
    q: Int
    b: B
    ** Internal field **
    aa: Internal
    ** Bundle1 field **
    b1: Bundle1
}

func add(a: Int, b: Int) -> Int {
    return a + b
}

after func add(a: Int, b: Int) -> Int {
    return result + 1
}

** Function `a` does a thing **
func a(a: A, b: B) {
    let r: Int

    let added = add(
        456 + 123,
        2 * 2,
    )

    {
        r = 1
        r = added
    }

    let q = r
    let p = q

    let z = "aaa"
    let y = z

    let bool = true
}

before func a(a: A, b: B) {
    let q = a
    let r = q
}

** Abcdef **
struct B {
    a: A
    c: C
}
